Repository krwhynot/PantryCRM: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check, package-json-lint

.pre-commit-config.yaml:

# Pre-commit hooks configuration for PantryCRM
# Ensures code quality and security before commits

repos:
  # Secret scanning with TruffleHog
  - repo: https://github.com/trufflesecurity/trufflehog
    rev: v3.63.2
    hooks:
      - id: trufflehog
        name: TruffleHog Secret Scanner
        description: Detect hardcoded secrets
        entry: trufflehog
        language: system
        stages: [commit, push]
        args:
          - --config=.trufflehog.yml
          - filesystem
          - --directory=.
          - --fail
        
  # Standard pre-commit hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        
      - id: end-of-file-fixer
        name: Fix End of Files
        
      - id: check-merge-conflict
        name: Check for Merge Conflicts
        
      - id: check-case-conflict
        name: Check for Case Conflicts
        
      - id: check-json
        name: Check JSON Syntax
        
      - id: check-yaml
        name: Check YAML Syntax
        args: [--multi]
        
      - id: check-toml
        name: Check TOML Syntax
        
      - id: check-added-large-files
        name: Check for Large Files
        args: [--maxkb=1024]
        
      - id: detect-private-key
        name: Detect Private Keys
        
      - id: forbid-new-submodules
        name: Forbid New Submodules

  # Environment file validation
  - repo: local
    hooks:
      - id: check-env-files
        name: Check Environment Files
        entry: bash
        language: system
        pass_filenames: false
        args:
          - -c
          - |
            # Check for accidentally committed .env files
            if find . -name "*.env" -not -path "./node_modules/*" -not -name "*.env.example" -not -name "*.env.*.example" | grep -q .; then
              echo "❌ Found .env files that should not be committed:"
              find . -name "*.env" -not -path "./node_modules/*" -not -name "*.env.example" -not -name "*.env.*.example"
              echo "Please add these to .gitignore and remove from git tracking"
              exit 1
            fi
            echo "✅ No uncommitted .env files found"

  # TypeScript and JavaScript linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint
        entry: npx eslint
        language: system
        types: [javascript, jsx, ts, tsx]
        args: [--fix]
        
      - id: prettier
        name: Prettier
        entry: npx prettier
        language: system
        types: [javascript, jsx, ts, tsx, json, yaml, markdown]
        args: [--write]

  # TypeScript type checking
  - repo: local
    hooks:
      - id: typescript-check
        name: TypeScript Check
        entry: npx tsc
        language: system
        args: [--noEmit]
        files: \.(ts|tsx)$
        pass_filenames: false

  # Package.json validation
  - repo: local
    hooks:
      - id: package-json-lint
        name: Package.json Lint
        entry: bash
        language: system
        files: package\.json$
        args:
          - -c
          - |
            # Validate package.json structure
            if ! node -e "JSON.parse(require('fs').readFileSync('package.json', 'utf8'))"; then
              echo "❌ Invalid package.json format"
              exit 1
            fi
            echo "✅ package.json is valid"

# Configuration
default_stages: [commit]
fail_fast: true
minimum_pre_commit_version: 3.0.0

# CI integration
ci:
  autofix_commit_msg: |
    [pre-commit.ci] auto fixes from pre-commit hooks
    
    for more information, see https://pre-commit.ci
  autofix_prs: true
  autoupdate_branch: ''
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: weekly
  skip: []
  submodules: false

fix: Update Tremor React to v4 beta for React 19 compatibility and fix GitHub Actions
  .github/workflows/main_kitchen-pantry-crm.yml
  package.json
Due: package-json-lint

fix: Comprehensive React 19 peer dependency resolution for GitHub Actions
  .github/workflows/main_kitchen-pantry-crm.yml
  .npmrc
  package.json
Due: package-json-lint

fix: Update CI/CD pipeline to handle React 19 peer dependencies and allow lint warnings
  .github/workflows/ci-cd-pipeline.yml
Due: none

fix(cicd): Implement comprehensive GitHub Actions workflow fixes for React 19 and Azure deployment
  .github/dependabot.yml
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/deploy-production.yml
  .github/workflows/main_kitchen-pantry-crm.yml
  .github/workflows/pr-validation.yml
  package.json
Due: package-json-lint

fix(typescript): Resolve build-breaking requireAuth type annotation issues
  app/api/admin/activateModule/[moduleId]/route.ts
  app/api/admin/deactivateModule/[moduleId]/route.ts
  app/api/crm/account/[accountId]/route.ts
  app/api/crm/account/[accountId]/task/create/route.ts
  app/api/crm/account/[accountId]/unwatch/route.ts
  app/api/crm/account/[accountId]/watch/route.ts
  app/api/crm/account/route.ts
  app/api/crm/contacts/[contactId]/route.ts
  app/api/crm/contacts/create-from-remote/route.ts
  app/api/crm/contacts/unlink-opportunity/[contactId]/route.ts
  app/api/crm/industries/route.ts
  app/api/crm/leads/[leadId]/route.ts
  app/api/crm/leads/route.ts
  app/api/crm/opportunity/[opportunityId]/route.ts
  app/api/crm/tasks/addCommentToTask/[taskId]/route.ts
  app/api/crm/tasks/route.ts
  app/api/feedback/route.ts
  app/api/fulltext-search/route.ts
  app/api/interactions/route.ts
  app/api/my-account/route.ts
  app/api/profile/updateProfilePhoto/route.ts
  app/api/search/route.ts
  app/api/settings/route.ts
  app/api/user/[userId]/route.ts
  app/api/user/[userId]/set-language/route.ts
  app/api/user/[userId]/setOpenAi/route.ts
  app/api/user/[userId]/setnewpass/route.ts
  app/api/user/[userId]/setnotiondb/route.ts
  app/api/user/[userId]/updateprofile/route.ts
  app/api/user/activate/[userId]/route.ts
  app/api/user/activateAdmin/[userId]/route.ts
  app/api/user/deactivate/[userId]/route.ts
  app/api/user/deactivateAdmin/[userId]/route.ts
  app/api/user/inviteuser/route.ts
  app/api/user/route.ts
Due: typescript-check

fix(git): Remove problematic favicon_io.zip causing sync commit issue
  .gitignore
  public/tmp/favicon_io.zip
Due: none

fix(typescript): Resolve remaining TypeScript errors and improve test infrastructure
  EMERGENCY-FIX-GUIDE.md
  __tests__/api/auth.test.ts
  jest.config.js
  jest.setup.tsx
  src/lib/excel-migration/validation/validation-service.ts
  tests/e2e/critical-user-journeys.spec.ts
  tests/e2e/cross-browser-compatibility.spec.ts
  tests/e2e/food-service-workflows.spec.ts
  tests/e2e/mobile-responsiveness.spec.ts
  tests/e2e/test-helper.ts
Due: typescript-check

feat(ci/cd): implement comprehensive GitHub Actions CI/CD pipeline
  .github/CI-CD-DOCUMENTATION.md
  .github/SETUP-GUIDE.md
  .github/dependabot.yml
  .github/performance-baseline.json
  .github/secrets.template
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/maintenance.yml
  .github/workflows/rollback.yml
  .github/workflows/security.yml
  Dockerfile
  app/api/health/route.ts
  deploy/startup.sh
  lighthouserc.js
Due: typescript-check

docs: reorganize documentation structure and add comprehensive project docs
  MISC/.github/CI-CD-DOCUMENTATION.md
  MISC/.github/PULL_REQUEST_TEMPLATE.md
  MISC/.github/SETUP-GUIDE.md
  MISC/CLAUDE.md
  MISC/EMERGENCY-FIX-GUIDE.md
  MISC/GITHUB_SECRETS_SETUP.md
  MISC/PERFORMANCE_ENHANCEMENTS.md
  MISC/README-E2E-TESTING.md
  MISC/README-MOBILE-UX.md
  MISC/README-PERFORMANCE-TESTING.md
  MISC/SECURITY-FIXES-SUMMARY.md
  MISC/SECURITY_FIXES_SUMMARY.md
  MISC/SYSTEM_ARCHITECTURE_README.md
  MISC/TECHNICAL-DECISIONS.md
  MISC/TODO.md
  MISC/file-structure-README.md
  MISC/log-report.md
  MISC/prisma-schema-documentation.md
  MISC/scripts/README.md
  MISC/technical-debt-README.md
  UI-UX-STYLE-GUIDE.md
Due: none

Fix typo in concurrent connections evidence section
  AZURE_B1_OPTIMIZATIONS.md
Due: none

Remove pre-commit hooks and simplify GitHub Actions workflows
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/ci.yml
  .github/workflows/enhanced-ci-cd.yml
  .github/workflows/maintenance.yml
  .github/workflows/performance-optimization.yml
  .github/workflows/pr-validation.yml
  .github/workflows/security-enhanced.yml
  .github/workflows/simple-ci.yml
  .github/workflows/workflow-orchestration-test.yml
  __mocks__/@prisma/client.js
  app/(routes)/layout.tsx
  components/ClientSyncStatusIndicator.tsx
  components/ui/alert.tsx
  jest.setup.js
  next.config.ts
  package-lock.json
  package.json
  tsconfig.json
  tsconfig.production.json
Due: typescript-check, package-json-lint

feat: Implement comprehensive performance optimizations for Azure B1 App Service
  .github/PRE_DEPLOYMENT_CHECKLIST.md
  .github/workflows/ci.yml
  .github/workflows/deploy-production.yml
  .github/workflows/deploy.yml
  .github/workflows/deployment-validation.yml
  .github/workflows/main_kitchen-pantry-crm.yml
  .github/workflows/nextjs-specific-tests.yml
  .github/workflows/rollback.yml
  .github/workflows/security.yml
  MISC/AZURE_B1_OPTIMIZATIONS.md
  MISC/OPTIMIZATION.md
  MISC/SECURITY-ENHANCEMENTS.md
  MISC/SECURITY-REMEDIATION-REPORT.md
  MISC/UI-UX-STYLE-GUIDE.md
Due: none

ci: Finalize Azure monitoring and security configurations
  .github/workflows/azure-deploy.yml
  scripts/azure-ip-restrictions.sh
  scripts/azure-monitoring-setup.sh
  src/middleware/api-security.ts
Due: typescript-check

feat: Add comprehensive Azure monitoring and CI/CD infrastructure
  .github/workflows/security-scan.yml
  .gitignore
  Docs/azure_info.md
  SECURITY.md
  azure-functions/app-ping/function.json
  azure-functions/app-ping/index.js
  scripts/capture-performance-baseline-fixed.sh
  scripts/capture-performance-baseline-production.sh
  scripts/manage-git-azure-configs.sh
  src/app/api/middleware.ts
Due: typescript-check

feat: implement Azure monitoring and React 19 compatibility checks
  .claude/claude_desktop_config.json
  .claude/settings.local.json
  .env.local.example
  .gitignore
  Docs/compatibility-reports/README.md
  Docs/compatibility-reports/react19-compatibility-analyzer.js
  Docs/compatibility-reports/react19-compatibility-results.json
  Docs/prd-list.txt
  Docs/prd.txt
  lib/insights/appInsights.ts
  lib/insights/useAppInsights.tsx
  react19-compatibility-report.csv
  react19-compatibility-report.json
  scripts/capture-performance-baseline-working.sh
  scripts/capture-performance-baseline.sh
  scripts/react19-compatibility-test.ts
  scripts/react19-win-compat.js
  tests/react19-compatibility-test-plan.md
  tests/results/react19-compatibility-results.json
Due: typescript-check

feat: Add production-grade Azure DevOps automation suite
  .github/workflows/azure-health-check.yml
  .github/workflows/performance-monitoring.yml
  scripts/azure-cost-optimization.sh
  scripts/setup-azure-alerts.sh
Due: none

fix: Resolve CI/CD dependency issues and optimize workflows
  .github/DEPLOYMENT_CHECKLIST.md
  .github/workflows/azure-deploy-optimized.yml
  .github/workflows/azure-health-check.yml
  .github/workflows/ci-test.yml
  .github/workflows/performance-monitoring.yml
  package.json
  scripts/optimize-dependencies.js
  src/app/api/health/route.ts
Due: typescript-check, package-json-lint

docs: Add comprehensive CI/CD resolution summary and dependency update script
  CI_CD_RESOLUTION_SUMMARY.md
  scripts/update-dependencies.sh
Due: none

ci: add Azure deployment workflow and GitHub secrets documentation
  .claude/settings.local.json
  .github/workflows/azure-deploy.yml
  Docs/github-secrets-setup.md
Due: none

fix: Resolve 'self is not defined' SSR error during build
  next.config.ts
  package.json
  src/app/layout.tsx
  src/components/PWAInstaller.tsx
  src/components/ServiceWorkerRegistration.tsx
  src/hooks/useNetworkStatus.ts
  src/hooks/useSwipeable.ts
Due: typescript-check, package-json-lint

feat: add PWA support and optimize SSR compatibility with recharts
  .claude/settings.local.json
  .github/workflows/azure-deploy-optimized.yml
  app/providers/SSRSafeToastProvider.tsx
  middleware.ts
  next.config.ts
  package.json
  scripts/analyze-vendor-bundle.js
  scripts/global-polyfill.js
  scripts/webpack-self-polyfill-plugin.js
  src/app/layout.tsx
  src/components/PWAInstaller.tsx
  src/components/ServiceWorkerRegistration.tsx
  src/components/charts/ChartWrapper.tsx
  src/components/charts/FallbackChart.tsx
  src/components/charts/OptimizedDonutChart.tsx
  src/components/dashboard/Dashboard.tsx
  src/components/excel-migration/MigrationDashboard.tsx
  src/hooks/useNetworkStatus.ts
Due: typescript-check, package-json-lint

fix: update Node.js version to 20.18.1 for undici compatibility
  .claude/settings.local.json
  .github/workflows/azure-deploy-optimized.yml
  .github/workflows/azure-deploy.yml
  .github/workflows/ci-test.yml
  .github/workflows/security-scan.yml
  .nvmrc
  package.json
Due: package-json-lint

I cannot generate a commit message without seeing the actual file changes. Please provide the files or changes you'd like me to summarize in a commit message.
  .github/workflows/azure-deploy-optimized.yml
Due: none

ci: simplify GitHub Actions workflow
  .github/workflows/simple-ci.yml
Due: none

docs: add comprehensive duplicate file analysis report with cleanup recommendations
  DUPLICATE_ANALYSIS_REPORT.md
  package-lock.json
Due: none

refactor: remove unused file from codebase
  .github/dependabot.yml
  .github/workflows/azure-deploy-optimized.yml
  .github/workflows/azure-deploy.yml
  .github/workflows/azure-health-check.yml
  .github/workflows/ci-test.yml
  .github/workflows/performance-monitoring.yml
  .github/workflows/security-scan.yml
Due: none

docs: add coding standards
  Docs/coding-standards.md
Due: none

feat: implement CRM account API endpoints for CRUD operations
  app/api/crm/account/route.ts
Due: typescript-check

feat: Add optimized TremorLineChart component for performance on Azure B1
  .claude/settings.local.json
  CI_CD_RESOLUTION_SUMMARY.md
  DUPLICATE_ANALYSIS_REPORT.md
  WINDSURF_TODOS.md
  components/charts/SSRChartWrapper.tsx
  components/charts/fallback/FallbackChart.tsx
  components/charts/optimized/TremorBarChart.tsx
  components/charts/optimized/TremorDonutChart.tsx
  components/charts/optimized/TremorLineChart.tsx
  lib/types/api-helpers.ts
  lib/types/validation.ts
  types/crm.ts
Due: typescript-check

feat: implement organizations API with GET and POST endpoints for CRM data management
  app/api/organizations/route.ts
Due: typescript-check

feat: Implement Azure B1 Performance Optimizer and Optimized Prisma Client
  lib/performance/azure-b1-cache.ts
  lib/performance/azure-b1-optimizer.ts
  lib/performance/optimized-prisma.ts
Due: typescript-check

feat: Add optimized Organizations API route with CRUD operations and performance enhancements
  app/api/crm/organizations-optimized/route.ts
Due: typescript-check

chore: add baseUrl to tsconfig for absolute imports
  tsconfig.json
Due: none

feat: add Quick Interaction Form for food service sales reps
  ARCHITECTURE.md
  DEVELOPMENT_WORKFLOW.md
  WINDSURF_QUICK_REFERENCE.md
  components/food-service/core/FoodServiceLayout.tsx
  components/food-service/core/OrganizationCard.tsx
  components/food-service/core/ResponsiveDataTable.tsx
  components/food-service/dashboard/FoodServiceDashboard.tsx
  components/food-service/forms/QuickInteractionForm.tsx
  components/monitoring/PerformanceDashboard.tsx
Due: typescript-check

feat: implement mobile-optimized dashboard with swipeable cards and API routes
  app/api/organizations/route.ts
  package-lock.json
  package.json
  prisma/seed/food-service-settings.ts
  src/app/api/health/route.ts
  src/components/contacts/ContactForm.tsx
  src/components/contacts/ContactList.tsx
  src/components/examples/MobileOptimizedDashboard.tsx
  src/components/ui/SwipeableCard.tsx
  tsconfig.json
Due: typescript-check, package-json-lint
