Repository krwhynot/PantryCRM: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript-check, package-json-lint

eslint:
  name: ESLint
  entry: npx eslint
  language: system
  args:
  - --fix

prettier:
  name: Prettier
  entry: npx prettier
  language: system
  args:
  - --write

typescript-check:
  name: TypeScript Check
  entry: npx tsc
  language: system
  args:
  - --noEmit
  pass_filenames: false

package-json-lint:
  name: Package.json Lint
  entry: bash
  language: system
  args:
  - -c
  - "# Validate package.json structure\nif ! node -e \"JSON.parse(require('fs').readFileSync('package.json', 'utf8'))\"; then\n  echo \"❌ Invalid package.json format\"\n  exit 1\nfi\necho \"✅ package.json is valid\"\n"

feat: add database seed script with food service settings and initial data
  prisma/seed.ts
  prisma/seed/food-service-settings.ts
  tsconfig.json
Due: typescript-check

chore: remove duplicate trailingSlash config property in next.config.ts
  next.config.ts
Due: typescript-check

feat: update account routes to include required fields and improve status mapping; refine validation schemas for better data handling
  app/api/crm/account/route.ts
  lib/types/validation.ts
  tsconfig.json
Due: typescript-check

fix: resolve TypeScript errors in contact API routes
  app/api/crm/contacts/create-from-remote/route.ts
  app/api/crm/contacts/route.ts
Due: typescript-check

feat: add uploadthing integration for image file uploads
  lib/types/validation.ts
  package-lock.json
  package.json
  src/app/api/uploadthing/core.ts
  src/app/contacts/page.tsx
Due: typescript-check, package-json-lint

docs: establish git workflow with commit standards and conflict resolution procedures
  .windsurf/workflows/git-workflow.md
Due: none

docs: create Claude Code git workflow and resolve merge conflicts
  CLAUDE_CODE_GIT_WORKFLOW.md
  tsconfig.json
Due: none

fix: resolve remaining implementation TypeScript errors
  lib/uploadthing.ts
  src/app/contacts/page.tsx
  src/app/page.tsx
  src/hooks/useSwipeable.ts
Due: typescript-check

chore: clean up merge conflicts in tsconfig.json exclude paths
  tsconfig.json
Due: none

chore: implement git workflow automation tools
  .gitmessage
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  Docs/DEVELOPMENT_WORKFLOW.md
  commitlint.config.js
  package-lock.json
  package.json
Due: package-json-lint

fix: remove deprecated Husky lines from pre-push hook
  .husky/pre-push
Due: none

[type]: [concise description of TODO completion]
  .windsurf/rules/git-workflow.md
  lib/enhanced-cache-invalidation.ts
  lib/enhanced-rate-limiter.ts
  lib/insights/appInsights.ts
  lib/performance-metrics.ts
  lib/performance/azure-b1-cache.ts
  lib/performance/azure-b1-optimizer.ts
  lib/performance/optimized-prisma.ts
  lib/redis-report-cache.ts
  lib/redis-streams.ts
  lib/types/validation.ts
  package-lock.json
  package.json
  src/app/contacts/page.tsx
  src/components/ui/progress.tsx
  tsconfig.json
  types/crm.ts
Due: typescript-check, package-json-lint

[type]: [concise description of TODO completion]
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
Due: package-json-lint

refactor: simplify function signatures and update model references in route handlers
  CLAUDE_CODE_GIT_WORKFLOW.md
  app/api/crm/industries/route.ts
  app/api/crm/leads/route.ts
Due: typescript-check

feat: implement CRM API routes and optimized chart components with strict typing
  .claude/settings.local.json
  ADVANCED_REPORTING_ARCHITECTURE.md
  DEVELOPMENT_WORKFLOW.md
  DRIZZLE_MIGRATION/ADDITIONAL_COMPLEX_TASK_BREAKDOWNS.md
  DRIZZLE_MIGRATION/DRIZZLE_MIGRATION_COMPLEX_TASKS_BREAKDOWN.md
  DRIZZLE_MIGRATION/DRIZZLE_POSTGRESQL_MIGRATION_TODOS.md
  DRIZZLE_MIGRATION/INDEX.md
  DRIZZLE_MIGRATION/QUICK_REFERENCE.md
  DRIZZLE_MIGRATION/README.md
  EXCEL_IMPORT_ARCHITECTURE.md
  MOBILE_INTERACTION_WORKFLOW.md
  PRODUCTION_MONITORING.md
  WINDSURF_TODOS.md
  actions/organizations/create-organization.ts
  app/api/contacts/by-organization/[orgId]/route.ts
  app/api/crm/account/route.ts
  app/api/crm/contacts/route.ts
  app/api/crm/leads/route.ts
  app/api/crm/opportunity/route.ts
  app/api/interactions/route.ts
  app/api/organizations/route.ts
  components/tremor/OptimizedAreaChart.tsx
  components/tremor/OptimizedBarChart.tsx
  components/tremor/OptimizedDonutChart.tsx
  lib/charts/azure-b1-chart-strategy.tsx
  lib/types/api-helpers.ts
  lib/types/strict-mode-migration.ts
  prisma/dev.db
  prisma/dev.db-journal
  src/app/api/organizations/route.ts
  src/components/charts/OptimizedDonutChart.tsx
Due: typescript-check

feat: implement Application Insights with React hydration metrics and web vitals tracking
  lib/insights/appInsights.ts
Due: typescript-check

Refactor code structure for improved readability and maintainability
  .claude/settings.local.json
  DRIZZLE_MIGRATION/MASTER_MIGRATION_PLAN.md
Due: none

[type]: [concise description of TODO completion]
  package-lock.json
  package.json
Due: package-json-lint

feat: initialize project MCP configuration and migration plans
  .claude/claude.md
  .claude/mcp-setup-instructions.md
  .claude/settings.local.json
  DRIZZLE_MIGRATION/CHART_MIGRATION_PLAN.md
  DRIZZLE_MIGRATION/MONITORING_ALERTING_PLAN.md
  DRIZZLE_MIGRATION/MULTI_DEVICE_TESTING_PLAN.md
  DRIZZLE_MIGRATION/QUICK_REFERENCE.md
  DRIZZLE_MIGRATION/SETTINGS_MIGRATION_PLAN.md
  package.json
  scripts/setup-mcp.ps1
  scripts/setup-mcp.sh
Due: package-json-lint

feat: implement Azure PostgreSQL infrastructure with Drizzle ORM migration
  .gitignore
  POSTGRESQL_SETUP_COMPLETE.md
  SETTINGS_MIGRATION_SUMMARY.md
  app/api/settings/route.ts
  drizzle.config.ts
  lib/db/index.ts
  lib/db/migrations/meta/0000_snapshot.json
  lib/db/migrations/meta/_journal.json
  lib/db/migrations/settings-migration.ts
  lib/db/schema/settings.ts
  lib/services/settings-service.ts
  package-lock.json
  package.json
  scripts/azure-postgresql-setup.ps1
  scripts/azure-postgresql-setup.sh
  scripts/migrate-settings.ts
  scripts/test-settings-validation.ts
Due: typescript-check, package-json-lint

feat: implement core CRM models with Drizzle schema and chart testing
  .claude/settings.local.json
  CHART_TESTING_RESULTS.md
  CORE_MODELS_MIGRATION_COMPLETE.md
  app/api/crm/leads/route.ts
  app/test-charts/page.tsx
  lib/db/index.ts
  lib/db/migrations/meta/0001_snapshot.json
  lib/db/migrations/meta/_journal.json
  lib/db/schema/auth.ts
  lib/db/schema/contacts.ts
  lib/db/schema/contracts.ts
  lib/db/schema/index.ts
  lib/db/schema/interactions.ts
  lib/db/schema/leads.ts
  lib/db/schema/opportunities.ts
  lib/db/schema/organizations.ts
  package.json
  scripts/test-charts-simple.js
  scripts/test-charts.js
  scripts/test-core-models.ts
  scripts/test-settings-migration.ts
  scripts/verify-chart-installation.js
Due: typescript-check, package-json-lint

feat: complete PostgreSQL + Drizzle ORM migration with data transfer
  DATA_MIGRATION_AND_API_UPDATES_COMPLETE.md
  DRIZZLE_MIGRATION/MASTER_MIGRATION_PLAN.md
  app/api/contacts/route.ts
  app/api/crm/leads/route.ts
  app/api/interactions/route.ts
  app/api/organizations/route.ts
  package.json
  scripts/migrate-data-from-prisma.ts
Due: typescript-check, package-json-lint

feat: initialize SQLite database for development environment
  .windsurf/rules/complex-feature-development.md
  .windsurf/rules/git-workflow.md
  .windsurf/rules/kitchen-pantry-crm-workspace-rules.md
  .windsurf/rules/rule1-architecture-first-development.md
  .windsurf/rules/rule2-database-driven-feature-development.md
  .windsurf/rules/rule3-performance-critical-implementation.md.md
  .windsurf/rules/rule4-timeline-aware-development-planning.md
  .windsurf/rules/rule5-user-centered-feature-development.md
  .windsurf/rules/sprint-planning.md
  prisma/dev.db
  prisma/dev.db-journal
Due: none

feat: create migration plan for PostgreSQL + Drizzle ORM conversion with component inventory
  CLAUDE.md
  DRIZZLE_MIGRATION/MASTER_MIGRATION_PLAN.md
  windsurf_reference.md
Due: none

feat: complete CRM API routes migration from Prisma to Drizzle ORM
  DRIZZLE_MIGRATION/MASTER_MIGRATION_PLAN.md
  app/api/crm/account/[accountId]/route.ts
  app/api/crm/account/route.ts
  app/api/crm/contacts/route.ts
  app/api/crm/opportunity/route.ts
  app/api/crm/organizations-optimized/route.ts
Due: typescript-check

refactor: reorganize project files for Drizzle migration phase
  .github/codeql/codeql-config.yml
  .github/workflows/simple-ci.yml
  ARCHITECTURE.md
  DEVELOPMENT_WORKFLOW.md
  DRIZZLE_MIGRATION/windsurf_reference.md
  WINDSURF_QUICK_REFERENCE.md
  WINDSURF_TODOS.md
Due: none

Path conditions:
  eslint: any of: \.(js|mjs|cjs)$ and \.jsx$ and \.(ts|mts|cts)$ and \.tsx$
  prettier: any of: \.(js|mjs|cjs)$ and \.jsx$ and \.(ts|mts|cts)$ and \.tsx$ and \.json$ and \.(yaml|yml)$ and \.(md|markdown|mdown)$
  typescript-check: any of: \.(ts|tsx)$
  package-json-lint: any of: package\.json$
